# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.swp
*.swo

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# DEV IDE configs
.vscode/

vendor/

Gopkg.lock
Gopkg.toml
punocracy