{{define "content"}}
<div class="row">
  <h1>Mohammad Almerri</h1>
  <p>This is Mohammad. He cool</p>
  <a href="#">Hire Me</a>
</div>

<div class="row">
  <h1>Nathaniel Cantwell</h1>
  <p>This is Nathaniel. He Cantgood</p>
  <a href="#">Hire Me</a>
</div>

<div class="row">
  <h1>Alvaro Esperanca</h1>
  <p>This is Alvaro. His name has been mispronounced for 5 years</p>
  <a href="#">Hire Me</a>
</div>
{{end}}