{{define "content"}}
<div class="jumbotron">
  <h2 class="display-4">How this came to be</h2>
  <p class="lead">This project is the realization of a silly idea proposed during a friendsgiving dinner.</p>
</div>
<div class="jumbotron">
    <h2 class="display-4">Meet The Team</h2>
  </div>
<div class="card-deck">
  <div class="card text-center bg-light">
    <div class="card-body">
      <h4 class="card-title">Mohammad Al-Merri</h4>
      <h5 class="card-subtitle mb-2 text-muted">MS ECE</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
      <a href="#" class="card-link">Hire Me</a>
      <a href="#" class="card-link">Hire Me</a>
      <a href="#" class="card-link">Hire Me</a>
    </div>
  </div>
  <div class="card text-center bg-light">
    <img class="card-img-top" src="/nathaniel.jpg" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">Nathaniel Cantwell</h4>
      <h5 class="card-subtitle mb-2 text-muted">BSMSECE BS Mafs</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
      <a href="#" class="card-link">Hire Me</a>
      <a href="#" class="card-link">Hire Me</a>
      <a href="#" class="card-link">Hire Me</a>
    </div>
  </div>
  <div class="card text-center bg-light">
    <img class="card-img-top" src="/alvaro.jpg" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">Alvaro Esperanca</h4>
      <h5 class="card-subtitle mb-2 text-muted">MS ECE</h5>
      <p class="card-text">Meet Alvaro. He spends most of his time writing programs, watching YouTube videos about
        random stuff and listening to random music</p>
      <a href="#" class="card-link">LinkedIn</a>
      <a href="#" class="card-link">Facebook</a>
    </div>
  </div>

</div>
{{end}}