{{define "content"}}
{{if .Phrases}}
<form action="/queuerater" method="post">
  <div class="form-row">
    <div class="col-md-9">
      <h3>Phrases</h3>
    </div>
    <div class="col-md-1">
      <h3><img src="/check.svg" width="25" height="25"></h3>
    </div>
    <div class="col-md-1">
      <h3><img src="/x.svg" width="25" height="25"></h3>
    </div>
    <div class="col-md-1">
      <h3><img src="/issue-opened.svg" width="25" height="25"></h3>
    </div>
  </div>
  {{range .Phrases}}
  <div class="form-row">
    <div class="form-group col-md-9">
      <input type="text" readonly class="form-control-plaintext" name="{{.PhraseID.String()}}" value="{{.PhraseText}}">
    </div>
    <div class="form-group col-md-1">
      <input class="form-check-input position-static" type="radio" name="Status[{{.PhraseID.String()}}]" value="accept"
        aria-label="...">
    </div>
    <div class="form-group col-md-1">
      <input class="form-check-input position-static" type="radio" name="Status[{{.PhraseID.String()}}]" value="reject"
        aria-label="...">
    </div>
    <div class="form-group col-md-1">
      <input class="form-check-input position-static" type="radio" name="Status[{{.PhraseID.String()}}]" value="review"
        aria-label="...">
    </div>
  </div>
  {{end}}
  <div class="form-row text-right">
    <div class="col-md-12">
      <button class="btn btn-primary" type="submit">Submit</button>
    </div>
  </div>
</form>
{{else}}
<div class="alert alert-info" role="alert">
  <h4 class="alert-heading">No Phrases to Review</h4>
  <p>Good job reviewing all those phrases and making sure that you mantained the comedic integrity of our system. We
    deeply appreciate it</p>
  <hr>
  <p class="mb-0">Go enjoy the fruits of your labor <a href="/now" class="alert-link">here</a></p>
</div>
{{end}}
{{end}}
