{{define "content"}}
<div class="row">
  <div class="col-sm-6">
    <h2>Ratings</h2>
    <div class="list-group list-group-flush">
      {{if .RatedPhrases}}
      {{range .RatedPhrases}}
      <div class="list-group-item">
        <h5 class="mb-1">{{.}}</h5>
      </div>
      {{end}}
      {{else}}
      <div class="list-group-item">
        <h5>No phrases rated</h5>
        <h5>Why not rate some of awesome phrases <a href="/now">here</a>?</h5>
      </div>
      {{end}}
    </div>
  </div>

  <div class="col-sm-6">
    <h2>Phrases Submitted</h2>
    <div class="list-group list-group-flush">
      {{if .SubmittedPhrases}}
      {{range .SubmittedPhrases}}
      <div class="list-group-item">
        <h5 class="mb-1">{{.}}</h5>
        <div class="d-flex justify-content-between">
          <small>30 days ago</small>
        </div>
      </div>
      {{end}}
      {{else}}
      <div class="list-group-item">
        <h5>No phrases submitted</h5>
        <h5>Why not submit your own phrase <a href="#">here</a>?</h5>
      </div>
      {{end}}
    </div>
  </div>
</div>
{{end}}