{{define "content"}}
<div class="container">
  <div class="row">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Insert Punny Word" aria-label="Insert Punny Word"
        aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button">Search</button>
      </div>
    </div>
  </div>
</div>
{{end}}