{{define "content"}}
<div class="row">
  <div class="col-sm-6">
      <h2>Words</h2>
      <div class="list-group list-group-flush">
        {{if .Words}}
        {{range .Words}}
        <div class="list-group-item">
          <h5><a href="/?q={{.}}">{{.}}</a></h5>
        </div>
        {{end}}
        {{else}}
        <div class="list-group-item">
          <h5>There aren't any words yet :(</h5>
        </div>
        {{end}}
    </div>
  </div>

  <div class="col-sm-6">
    <h2>Popular Phrases</h2>
    <div class="list-group list-group-flush">
      {{if .Phrases}}
      {{range .Phrases}}
      <div class="list-group-item">
        <h5 class="mb-1">{{.}}</h5>
        <div>
          <img src="star.svg" alt="">
          <img src="star.svg" alt="">
          <img src="star.svg" alt="">
          <img src="star.svg" alt="">
          <img src="star.svg" alt="">
        </div>
        <div class="d-flex justify-content-between">
          <p class="mb-1"><a href="#">Anon</a></p>
          <small>30 days ago</small>
        </div>
      </div>
      {{end}}
      {{else}}
      <div class="list-group-item">
        <h5>There aren't any popular phrases yet.</h5>
        {{if .CurrentUser}}
        <h5>Why not submit your own phrase <a href="/submit">here</a>?</h5>
        {{else}}
        <h5>Why not login to submit your own phrase <a href="/login">here</a>?</h5>
        {{end}}
      </div>
      {{end}}
    </div>
  </div>
</div>
{{end}}