{{define "content"}}
<div class="container text-center">
    <form class="form-signin" action="/now" method="POST">
        <h1 class="h3 mb-3 font-weight-normal">Input the word for pun stuff</h1>
        <input class="form-control" id="query" type="text" name="punword" placeholder="Quill">
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="login">
        <p class="mt-5 mb-3 text-muted">Punocracy 2017-2019</p>
    </form>
</div>
{{end}}