{{define "content"}}
<div class="row">
    <div class="col-sm-12">
        <h1>Word in consideration <b>{{.QueryWord}}</b></h1>
    </div>
</div>
{{if .NoWords}}
<div class="alert alert-info" role="alert" style="margin-top: 20px">
    <h4 class="alert-heading">No Words Found for Punny Stuff</h4>
    <p>Sadly, your extensive vocabulary is too much for us to handle.</p>
    <p>Please refer to <a href="/words/a" class="alert-link">this list</a> of words available in our system.</p>
</div>
{{else}}
{{if .NoPhrases}}
<div class="alert alert-info" role="alert" style="margin-top: 20px">
    <h4 class="alert-heading">No Phrase Matches for Punny Stuff</h4>
    <p>Sadly we don't have enough phrases for your amusement.</p>
    {{if .CurrentUser}}
    <p>Why not submit your own phrases <a href="/submit">here</a>?</p>
    {{else}}
    <p>Why not <a href="/login">login</a> to submit your own phrases?</p>
    {{end}}
</div>
{{else}}
<div class="row">
    <div class="col-sm-6">
        <h2>Puns</h2>
        <div class="list-group list-group-flush">
            {{range .Puns}}
            <div class="list-group-item">
                <h5>{{.}}</h5>
            </div>
            {{end}}
        </div>
    </div>

    <div class="col-sm-6">
        <h2>OG Phrases</h2>
        <form class="form list-group list-group-flush" action="/now" method="POST">
            {{range .Phrases}}
            <div class="list-group-item">
                <h5 class="mb-1">{{.PhraseText}}</h5>
                <div class="d-flex justify-content-between">
                    <p class="mb-1"><a href="#">{{.Author}}</a></p>
                    <small>{{.TimeSinceSubmission}}</small>
                </div>
                <div class="rate">
                    <input type="radio" id="star5" name="rate" value="5" {{if .IsFiveStar}}checked{{end}} />
                    <label for="star5" title="text">5 stars</label>
                    <input type="radio" id="star4" name="rate" value="4" {{if .IsFourStar}}checked{{end}} />
                    <label for="star4" title="text">4 stars</label>
                    <input type="radio" id="star3" name="rate" value="3" {{if .IsThreeStar}}checked{{end}} />
                    <label for="star3" title="text">3 stars</label>
                    <input type="radio" id="star2" name="rate" value="2" {{if .IsTwoStar}}checked{{end}} />
                    <label for="star2" title="text">2 stars</label>
                    <input type="radio" id="star1" name="rate" value="1" {{if .IsOneStar}}checked{{end}} />
                    <label for="star1" title="text">1 star</label>
                </div>
            </div>
            {{end}}
            <button type="submit" class="btn btn-primary">Submit Ratings</button>
        </form>
    </div>
</div>
{{end}}
{{end}}
{{end}}