{{define "content"}}
<div class="row align-items-center">
  <form action="/submit" method="post">
    <div class="form-group">
      <textarea class="form-control" rows="3" placeholder="To write with a broken pencil is pointless"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{{end}}