{{define "content"}}
<form action="/submit" method="post">
  <div class="form-group">
    <label for="phraseSubmition">
      <h2>Phrase Submission</h2>
    </label>
    <textarea class="form-control" id="phraseSubmition" rows="3"
      placeholder="To write with a broken pencil is pointless"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{{end}}