{{define "content"}}
<nav aria-label="Page navigation example">
  <ul class="pagination pagination-sm">
    <li class="page-item active"><a class="page-link" href="/words/a">a</a></li>
    <li class="page-item"><a class="page-link" href="#">b</a></li>
    <li class="page-item"><a class="page-link" href="#">c</a></li>
    <li class="page-item"><a class="page-link" href="#">d</a></li>
    <li class="page-item"><a class="page-link" href="#">e</a></li>
    <li class="page-item"><a class="page-link" href="#">f</a></li>
    <li class="page-item"><a class="page-link" href="#">g</a></li>
    <li class="page-item"><a class="page-link" href="#">h</a></li>
    <li class="page-item"><a class="page-link" href="#">i</a></li>
    <li class="page-item"><a class="page-link" href="#">j</a></li>
    <li class="page-item"><a class="page-link" href="#">k</a></li>
    <li class="page-item"><a class="page-link" href="#">l</a></li>
    <li class="page-item"><a class="page-link" href="#">m</a></li>
    <li class="page-item"><a class="page-link" href="#">n</a></li>
    <li class="page-item"><a class="page-link" href="#">o</a></li>
    <li class="page-item"><a class="page-link" href="#">p</a></li>
    <li class="page-item"><a class="page-link" href="#">q</a></li>
    <li class="page-item"><a class="page-link" href="#">r</a></li>
    <li class="page-item"><a class="page-link" href="#">s</a></li>
    <li class="page-item"><a class="page-link" href="#">t</a></li>
    <li class="page-item"><a class="page-link" href="#">u</a></li>
    <li class="page-item"><a class="page-link" href="#">v</a></li>
    <li class="page-item"><a class="page-link" href="#">w</a></li>
    <li class="page-item"><a class="page-link" href="#">x</a></li>
    <li class="page-item"><a class="page-link" href="#">y</a></li>
    <li class="page-item"><a class="page-link" href="#">z</a></li>
  </ul>
</nav>
{{end}}